:root {
  --font-family: 'League Spartan', sans-serif;
  --font-size: 12px;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;

  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-gray: hsl(0, 0%, 63%);
  --color-very-dark-gray: hsl(0, 0%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
