:root {
  --font-family: 'League Spartan', sans-serif;
  --font-size: 16px;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;

  --color-text: hsl(0, 0%, 0%);
  --color-background: hsl(0, 0%, 100%);
  --color-dark-gray: hsl(0, 0%, 63%);
  --color-very-dark-gray: hsl(0, 0%, 63%);

  --transition-time: 0.4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--color-very-dark-gray);
}

img {
  width: 100%;
  height: 100%;
  display: block;
}
